@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background: rgb(135,206,250);
  background: linear-gradient(180deg, rgba(135,206,250,1) 0%, rgba(244,247,245,1) 87%);
}

body {
  color: #0A0908;
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: underline;
}

h2 {
  font-size: 1.125rem;
  line-height: 1.75rem;
  font-weight: 500;
  padding: 1rem 0;
}